<div class="no-reactive">
  <h2>No reactive</h2>
  <hr>

  <span class="badge text-bg-primary">Valor1: {{ value1 }}</span>
  <span class="badge text-bg-primary">Valor2: {{ value2 }}</span>

  <ul>
    <li>
      <strong>Doble del valor1</strong>:
      <!-- <span>{{ doubleValue1 }}</span> -->
      <span>{{ getDoubleValue1() }}</span>
    </li>
    <li>
      <strong>Suma de valores</strong>:
      <span>{{ sumValues }}</span>
    </li>
  </ul>

  <button class="btn btn-primary btn-block" (click)="changeValues()">Cambiar Valor1 a 15</button>
</div>
